.h1-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-parent {
    display: flex;
    justify-content: center;
}

.form-and-header {
    width: 60%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.form-fieldset {
    margin: 20px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
}

label{
    width: 20%;
}

.form-field {
    margin: 10px;
    padding: 5px;
    display: flex;
}

.input-field {
    width: 50%;
    border-radius: 5px;
    padding: 5px;
}

.textarea-field {
    width: 50%;
    border-radius: 5px;
    height: 60px;
}

.input {
    padding: 5px;
    border-radius: 5px;
}

.fieldset-div {
    background-color: rgba(128, 128, 128, 0.368);
    border-radius: 10px;
    margin: 10px 0px;
}

.box-input {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.skills-group {
    display: flex;
    flex-direction: column;

}

.skills-label {
    padding: 10px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.skill{
    width: 20%;
    padding: 10px;
    margin: 10px;
}

.button-div {
    display: flex;
    justify-content: center;
}

.cancel-button {
    margin: 20px;
}
